button {
    background-color: #000;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    font-family: $primary-font;
    font-size: $font-size-large;
    cursor: pointer;
}