@import 'variables';
@import 'fonts';

#app {
    max-width: 90rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;

    .logo {
        font-family: $primary-font;
        font-size: $font-size-xxl;
    }
}