// variables.scss


// FONT FAMILY
$primary-font: 'Anton SC', sans-serif;
$secondary-font: 'Open Sans', sans-serif;


// FONT SIZE
$font-size-small: 0.875rem;
$font-size-base: 1rem;     
$font-size-large: 1.25rem;  
$font-size-xl: 1.5rem;     
$font-size-xxl: 2rem;       

